doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap", rel="stylesheet")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,94.4,178;1,94.4,178&display=swap", rel="stylesheet")
    title Bob Tracker | #{game}
  body
    // Navegation bar
    header
      nav.navbar
        ul.left__ul
          li.left__element
            h2 Bob Tracker
        ul
          li.center
            img(src="/img/logo.png", alt="")
        ul.right__ul
          li.right__element
            a(href="https://kick.com/agusbob")
              img.header__img(src="/img/kick_logo.jpg", alt="")
    main
      .div__main
        h1.title__slot= game
        .card__slots
          span.slot__info.red= `Apostado: $${(totalWagered / 100).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`
          span.slot__info.green= `Ganado: $${(totalEarn / 100).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`
        .slots__data
          span.slot__data= `Apuestas totales: ${totalBets}`
          span.slot__data= `Apuestas ganadas: ${totalWins}`
          span.slot__data= `Lucky wins: ${luckyWins}`
